.hero-title-1 {
  font-size: 65px;
  display: inline;
  margin-bottom: 0;
  color: white;
}
.hero-title-2 {
  font-size: 140px;
  display: inline;
  margin-bottom: 0;
  color: #ffcd07;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.hero-component {
  background-color: #272727;
  height: 1800px;
}

.hero-items-container {
  padding-top: 240px;
  width: 90%;
  margin: auto;
  z-index: 20;
}
.hero-text {
  font-size: 35px;
  width: 60%;
  font-weight: bold;
  color: white;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.hero-text-button-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.button-services {
  width: 300px;
  padding: 15px;
  border-radius: 6px;
  border: none;
  background-color: #ffcd07;
  font-size: 30px;
  font-weight: bold;
  color: black;
  transition: 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-services:hover {
  transform: scale(1.2);
}

.hero-items-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  position: relative;
  z-index: 20;
}

.weather-widget-container {
  background: #00000075;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  width: 90%;
  padding: 30px;
  border-radius: 40px;
  min-width: 100px;
  max-width: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.city-name {
  text-align: center;
  font-size: 38px;
}

.degrees-num {
  font-weight: lighter;
  box-sizing: content-box; /* Ensure box sizing includes only content */
  display: inline-block; /* Set display property to inline-block */
  width: auto; /* Let the width be automatically determined by the content */
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
  line-height: 1; /* Ensure the line height is normal */
  font-size: 100px;
}

.degrees-num-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
video {
  height: 1800px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 5;
}

.weather-status {
  font-size: 23px;
}

.min-max {
  display: flex;
  gap: 40px;
}

.min-max span {
  font-size: 27px;
}

.post-weather {
  display: flex;
  z-index: 20;
  color: white;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content: center;
}

.post-card {
  display: flex;
  width: 500px;
  justify-content: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  gap: 17px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.post-card p {
  font-size: 18px;
}
.text-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-cards {
  background-color: #ffcd07;
  width: 200px;
  border: none;
  padding: 10px;
  border-radius: 7px;
  transition: 0.2s ease-in-out;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-image {
  width: 150px;
  height: 200px;
  border-radius: 30px;
}

.weather-icon {
  width: 170px;
}
.btn-cards:hover {
  transform: scale(1.09);
}

.carouselFotos {
  width: 100%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: ease-in-out 0.3s;
}
.carouselFotos:hover {
  transform: scale(1.1);
}

.carousel-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 200px;
}

.youtube-video {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section-video {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  flex-wrap: wrap-reverse;
  font-size: 24px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.section-video h1 {
  color: #0a6798;
  font-size: 55px;
}

.youtube-text {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #76c2d3;
}

.youtube-text span {
  font-weight: bold;
  color: black;
}

@media only screen and (max-width: 1500px) {
  .hero-title-1 {
    font-size: 50px;
  }
  .hero-title-2 {
    font-size: 100px;
  }

  .hero-text {
    font-size: 26px;
    text-align: center;
    width: 90%;
  }

  .button-services {
    width: 250px;
    font-size: 25px;
  }

  .hero-items-container {
    padding-top: 180px;
    width: 90%;
    margin: auto;
  }
  .hero-items-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hero-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-text-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-component {
    height: 2100px;
  }

  video {
    height: 2100px;
  }
  .carousel-container {
    width: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .section-video {
    gap: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .hero-title-1 {
    font-size: 40px;
  }
  .hero-title-2 {
    font-size: 70px;
  }

  .hero-text {
    font-size: 22px;
    text-align: center;
    width: 90%;
  }

  .button-services {
    width: 250px;
    font-size: 25px;
  }

  .hero-items-container {
    padding-top: 180px;
    width: 90%;
    margin: auto;
  }

  .hero-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-text-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .degrees-num {
    font-size: 120px;
  }

  .post-weather {
    flex-direction: column;
  }

  .hero-component {
    height: 2100px;
  }

  video {
    height: 2100px;
  }

  .youtube-video {
    width: 90%;
  }

  .youtube-text {
    width: 80%;
    gap: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .hero-title-1 {
    font-size: 30px;
  }
  .hero-title-2 {
    font-size: 50px;
  }

  .hero-text {
    font-size: 20px;
    text-align: center;
    width: 90%;
  }

  .button-services {
    width: 250px;
    font-size: 25px;
  }

  .hero-items-container {
    padding-top: 180px;
    width: 90%;
    margin: auto;
  }

  .hero-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-text-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-component {
    height: 2150px;
  }

  video {
    height: 2150px;
  }

  .degrees-num {
    font-size: 60px;
  }

  .post-card {
    width: 100%;
  }

  .btn-cards {
    background-color: #ffcd07;
    width: 100%;
  }

  .carouselFotos {
    width: 250px;
  }
  .carousel-container {
    width: 70%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .youtube-video {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .section-video {
    display: flex;

    margin: auto;
  }

  .youtube-video {
    height: 400px;
  }

  .section-video {
    margin-top: 170px;
    margin-bottom: 170px;
  }
}
