* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #f0f0f0;
}

p {
  font-size: 23px;
}
.whatsBtn {
  width: 65px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.whatsBtn:hover {
  transform: scale(1.2);
}
